{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.9.1/dist/summernote-bs5.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.20/lib/codemirror.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/summernote@0.9.1/dist/summernote-bs5.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/codemirror@5.65.20/lib/codemirror.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/codemirror@5.65.20/mode/xml/xml.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/codemirror@5.65.20/mode/javascript/javascript.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/codemirror@5.65.20/mode/css/css.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/codemirror@5.65.20/mode/htmlmixed/htmlmixed.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/summernote-cleaner@1.0.0/summernote-cleaner.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@andrii-baran/summernote-image-attributes@1.0.4/bootstrap5/summernote-image-attributes.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/turndown@7.2.2/dist/turndown.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/turndown-plugin-gfm@1.0.2/dist/turndown-plugin-gfm.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/marked@13.0.2/marked.min.js"></script>
<script defer src="{% static 'js/summernote-bridge.js' %}"></script>
