<div id="{{ id }}"
     class="modal-component-backdrop {% if css_class %}{{ css_class }}{% endif %}"
     x-show="$store.ui.modalOpen == '{{ id }}'"
     x-transition.opacity.duration.180ms>
  <div class="modal-component-dialog modal-component-dialog--{% if size %}{{ size }}{% else %}md{% endif %}">
    <div class="modal-component-header">
      <h2 class="modal-component-title">{{ title }}</h2>
      <button @click="$store.ui.modalOpen = null"
              class="modal-component-close-btn"
              type="button"
              aria-label="Close">&times;</button>
    </div>
    <slot></slot>
  </div>
</div>
